<mat-card>
  <mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
  <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Add Title"
      />
      <mat-error *ngIf="form.get('title')?.invalid">Please enter title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Add Image</button>
      <input type="file"  #filePicker (change)="onImagePicked($event)">
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="10"
        formControlName="content"
        required
        placeholder="Add Content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please enter content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Add Post
    </button>
  </form>
</mat-card>
